@font-face {
    font-family: "Sabon-Font";
    src: url(Sabon-Font/Sabon-Roman.ttf) format("truetype");
}

html {
    background: rgb(228, 169, 110);
}

body {
    font-family: "Sabon-Font", sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}

h1 {
    font-size: 3em;
    margin: 0;

}

p {
    line-height: 1.4em;
    margin: 15px;


}

img {
    max-height: 100%;
    max-width: 100%;

}

iframe {
    float: left;
    margin-left: 5px;
    
}

.push-right{
    margin-right: 15px;
    padding-left: 15px;
    margin-left: 500px;
}


.float-left {
    height: 400px;
    width: 350px;
    float: left;
    margin-left: 5px;
    padding-left: 10px;

}



.float-right {
    float: right;
    margin-right: 5px;
    padding-right: 10px;
}


.card {
    margin: 30px auto;
    width: 230px;
    text-align: center;
    box-shadow: rgba(60, 59, 59, 0.321) 3px 3px 0;
    border: 1px solid #aaa;
    float: right;
    margin-left: 500px;
}

.contacts {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.contacts li {
    width: 40px;
    display: inline-block;
    padding: 20px 10px;
}

.contacts li a img:hover {
    opacity: 0.5;
    transition: opacity ease-in-out 0.3s;

}

button {
    margin-bottom: 5px;
    border: 1.2px solid #aaa;
    font-family: "Sabon-Font", sans-serif;


}

.btn {
    background-color: #aaa;
    color: white;
    padding: 10px 20px;
    font-family: "Sabon-Font", sans-serif;
    text-decoration: none;
  }

.btn:hover {
    background-color: rgb(228, 169, 110);
    transition: opacity ease-in-out 0.3s;
  }


#nav {
    display: inline-block;

}

#nav ul {
    list-style-type: none;
}

#nav li {
    display: inline-block;
}

#myphoto {
    margin-bottom: 50px;
    border-bottom-right-radius: 20px;
}

#golf{
    margin-left: 15px;
}


.flexy {
    display: inline-flex;
    padding-bottom: 10px;
}

.form {
    padding-top: 5px;
}

.container {
    height: 100px;
    display: flex;
    padding: 30px;
    margin: 50px;
    align-items: center;
    justify-content: center;
    border: 0.4px solid #242424;
}






/* Media Queries */
@media (max-width: 400px) {

    body {
        margin: 10px;
        padding: 10px;


    }

    p {
        width: auto;
    }

    .info-section {
        display: inline
    }

    img {
        max-width: 100%;
        width: auto;
        height: auto;
        margin: -5px;
    }
}